body,html{
    background:none;
}

.myNav{
    background-color: black;
}

.myForm{
    margin-left: 30px;
}

#main{
    padding-top: 40px;
}

.form-signin input[type="text"] {
    margin-bottom: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vertical-offset-100 {
    padding-top: 100px;
}
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.panel {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.book {
    padding: 15px 0 0 0;
    margin: auto;
}
a:before { /* Just to give a little puddle of a shadow without adding another element */
    content: '';
    display: block;
    width: 80%;
    height: 1em;
    background: rgba(0,0,0,.35);
    border-radius: 50%;
    position: absolute;
    bottom:-10px;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index:-5;
}
.shelf {
    border-bottom: 30px solid #a5a5a5;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    top: -15px;
    z-index: -10;
}
/*Example adding pseudo element to give shelf depth*/
.shelf:after {
    content: '';
    background: #686868;
    height: 20px;
    width: calc(100% + 40px); /*IE9+*/
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 0 -20px;
}


.fa {
    color:#666;
}

hr {
    border-color: transparent;
}


#userList {
    display:none;
}

#loader {
    position:absolute;
    z-index:2;
    width:100%;
    text-align:center;
    top:40%;
}

.cap:first-letter {
    text-transform: uppercase;
}

.alt {
    background-color:#ccc;
}